In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("expected_stats.csv")
df.head(10)

,"last_name, first_name",player_id,year,pa,bip,ba,est_ba,est_ba_minus_ba_diff,slg,est_slg,est_slg_minus_slg_diff,woba,est_woba,est_woba_minus_woba_diff
0,"Duran, Jarren",680776,2025,239,169,0.268,0.270,-0.002,0.418,0.405,0.013,0.321,0.325,-0.004
1,"Carroll, Corbin",682998,2025,238,155,0.271,0.284,-0.013,0.579,0.612,-0.033,0.393,0.408,-0.015
2,"Devers, Rafael",646240,2025,236,140,0.299,0.303,-0.004,0.557,0.590,-0.033,0.416,0.431,-0.015
3,"Tucker, Kyle",663656,2025,235,172,0.276,0.306,-0.030,0.543,0.583,-0.040,0.392,0.415,-0.023
4,"Ohtani, Shohei",660271,2025,232,146,0.302,0.335,-0.033,0.643,0.751,-0.108,0.433,0.481,-0.048
5,"Lindor, Francisco",596019,2025,231,168,0.277,0.272,0.005,0.470,0.467,0.003,0.356,0.354,0.002
6,"Bichette, Bo",666182,2025,231,176,0.284,0.308,-0.024,0.409,0.486,-0.077,0.324,0.362,-0.038
7,"Chourio, Jackson",694192,2025,229,171,0.250,0.246,0.004,0.423,0.393,0.030,0.302,0.287,0.015
8,"Nootbaar, Lars",663457,2025,229,159,0.247,0.270,-0.023,0.407,0.462,-0.055,0.336,0.362,-0.026
9,"Harper, Bryce",547180,2025,229,154,0.271,0.288,-0.017,0.464,0.514,-0.050,0.369,0.391,-0.022

In [7]:
df["est_ba_minus_ba_diff"].describe()

count    251.000000
mean      -0.006888
std        0.028306
min       -0.075000
25%       -0.026000
50%       -0.006000
75%        0.012500
max        0.066000
Name: est_ba_minus_ba_diff, dtype: float64